# Dependencies
node_modules/
**/node_modules/

# Builds / outputs
dist/
**/dist/
build/
**/build/
coverage/

# Caches
.eslintcache
.parcel-cache/
.next/
.nuxt/
.turbo/
.pnpm-store/
.yarn/cache/

# Env / local
.env
.env.*            # e.g. .env.local, .env.development
*.local
*.tsbuildinfo
*.sw?
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editors/OS
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
